body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #7581a1;
}

h1 {
	font-size: 80px;
	font-weight: 600;
	color: #192b59;
}

a {
	text-decoration: none;
}
.nav {
	font-size: 12px;
	font-weight: 700;
	color: #6e7ea9;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.btn-group a + a {
	margin-left: 15px;
}

.btn-primary {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2.5px;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #1085e4;
	background-color: #1085e4;
	padding: 20px 40px;
	border-radius: 30px;
}

.btn-primary:hover {
	color: #1085e4;
	background-color: #fff;
}

.btn-secondary {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2.5px;
	color: #7e8bae;
	text-transform: uppercase;
	border: 1px solid #cbdbe8;
	background-color: #cbdbe8;
	padding: 20px 40px;
	border-radius: 30px;
}

.btn-secondary:hover {
	color: #cbdbe8;
	background-color: #fff;
}

.btn-free {
	font-weight: 400;
    letter-spacing: 1.5px;
    padding: 21px 56px;
}

.grid h2 {
	font-size: 40px;
	font-weight: 700;
	color: #192b59;
}

.grid h2 span {
	font-size: 14px;
	font-weight: 800;
	color: #1085e4;
	display: block;
}
.grid-item h3 {
	font-size: 20px;
	font-weight: 600;
	color: #192b59;
}

.grid-item a {
	font-size: 14px;
	font-weight: 600;
	color: #1085e4;
	text-decoration: none;
}

.page-subscribe h2 {
	font-size: 50px;
	font-weight: 600;
	color: #fff;
}

.page-subscribe h2 span{
	font-size: 14px;
	font-weight: 800;
	color: #00bffe;
	display: block;
}

.page-software h2 {
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
}

.page-software dt {
	font-size: 16px;
	font-weight: 700;
	color: #5a6789;
}

.page-stat {
	text-align: center;
}
.page-stat h2 {
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
	line-height: 60px;
}

.page-stat h2 span {
	font-size: 16px;
	font-weight: 800;
	color: #1085e4;
	display: block;
	line-height: 60px;
	text-transform: uppercase;
}

.page-app h2 {
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
}

.difp {
	font-size: 16px;
	font-weight: 700;
	color: #c4d2dd;
}

/*part 8*/
.page-analytics1 h2{
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
}

/*part 9*/
.page-analytics2 h2 {
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
}

/*part 10*/
.page-screen {
	text-align: center;
}

.page-screen h2 {
	font-size: 40px;
	font-weight: 800;
	color: #192b59;
	line-height: 50px;
}

.page-screen h2 span {
	font-size: 14px;
	font-weight: 800;
	color: #1085e4;
	line-height: 90px;
	display: block;
	text-transform: uppercase;
}



